

.root{
	-fx-font-family: "Avenir Next";
	-fx-background-color: #F0F4F8 ;
	-fx-alignment: cneter ;
	-fx-spacing: 10px;
}



#Hbox-border{
	-fx-border-color: black ;
	-fx-border-style:  dashed ;
	-fx-border-radius: 5px;
}

#ImgJoueur1{
	 
}

#ImgJoueur2{
	
}
